body {
  margin:0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  background: #f5f5f5;
  scroll-behavior: smooth;
}
.hero{
  height: 100%;
  display: inline-block;
  width: 100%;
}
.hero-img{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-filter: grayscale(100%) opacity(40%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) opacity(40%);
  transition: 2s ease all;
  transition-delay: 1s;
  object-fit: cover;
}

.navigation{
  display: inline-block;
  width: 80%;
  height: 100px;
  padding: 1em 10%;
background: linear-gradient( to bottom, hsla(0, 0%, 100%, 0.41) 0%, hsla(0, 0%, 100%, 0.405) 9.4%, hsla(0, 0%, 100%, 0.39) 17.5%, hsla(0, 0%, 100%, 0.367) 24.7%, hsla(0, 0%, 100%, 0.338) 31.1%, hsla(0, 0%, 100%, 0.304) 36.8%, hsla(0, 0%, 100%, 0.266) 42.1%, hsla(0, 0%, 100%, 0.225) 47.1%, hsla(0, 0%, 100%, 0.185) 52.1%, hsla(0, 0%, 100%, 0.144) 57.2%, hsla(0, 0%, 100%, 0.106) 62.5%, hsla(0, 0%, 100%, 0.072) 68.3%, hsla(0, 0%, 100%, 0.043) 74.8%, hsla(0, 0%, 100%, 0.02) 82.1%, hsla(0, 0%, 100%, 0.005) 90.5%, hsla(0, 0%, 100%, 0) 100% );
}
#logo{
  width: 35%;
  vertical-align: middle;
}
.nav {
  overflow: hidden;
  display: inline-block;
  width: auto;
  height: 100%;
  vertical-align: middle;
  float: right;
}

.nav a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
  vertical-align: middle;
  line-height: 97px;
  text-shadow: white 1px 1px 40px;
}
.nav a:first-child{
  display: none;
}

.nav a:hover {
  border-bottom: 3px solid #333;
  color: black;
  padding-bottom: 2px;
}
.nav a:first-child:hover{
  border-bottom: 3px solid #333;
  color: black;
  padding-bottom: 3px;
}
.nav .icon {
  display: none;
}

.content-title{
  margin: 100px 0 0 15%;
}
.content-description{
  margin: 15px 0 0 15%;
}
.content{
  width: 70%;
  margin-left: 15%;
  margin-top: 65px;
}
.content h2{
  margin-top: 25px;
}
.content img{
  max-width: 100%;
  max-height: 500px;
}

@media screen and (max-width: 640px) {
  .nav a:first-child{
    display: block;
  }
  .nav{
    width: 100%;
  }
  .nav{
    width: 100%;
    margin: 0;
    height: auto;
  }
  #logo{
    width: 80%;
    margin: 10px 10% 0 10%;
  }
  .nav a:not(:first-child) {display: none;}
  .content-title {
    margin: 40px 0 0 15%;
  }
}


/*Semi-Mobile Navigation*/
@media (max-width: 1240px) {
    .nav{
        float: inherit;
    }
}

/*Mobile Navigation*/
@media (max-width: 1070px) {
    .nav a::before,
    .nav a::after {
      height: 0;
    }

    .nav a {
      color: #333;
      line-height: 50px;
      width: 100%;
      padding: 0;
    }

    .nav {
      float: inherit;
      display: block;
      background: #eaeaea;
      margin: 4% 0 8% 0;
      border-radius: 5px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      width: 100%;
      padding: 0;
    }

    .nav a:not(:first-child) {
        display: none;
    }

    .nav a:first-child {
        display: inline-block;
        text-align: center;
        background: #eaeaea;
        font-weight: 600;
        color: #333;
        border-bottom: 1px #333 solid;
    }

    .nav a:first-child {
        display: block !important;
    }

    .nav.responsive a:first-child {
        margin-bottom: 10px;
    }

    .nav.responsive {
      position: absolute;
      z-index: 1;
      width: 80%;
    }

    .nav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }

    .nav a {
        display: block;
        padding: 5px 0 5px 0;
        color: #333;
        cursor: pointer;
    }
}


/*
DELETE THIS IF YOU DON'T WANT THE IMAGE RIGHT TO THE TEXT!
*/

.text-left-img-right p{
  width: 40%;
  display: inline-block;
}
.text-left-img-right img{
  width: 50%;
  float: right;
}
@media screen and (max-width: 640px) {
  .text-left-img-right p{
    width: 100%;
  }
  .text-left-img-right img{
    width: 100%;
    float: inherit;
  }
}

/*DELETE IT TO THIS POINT!*/
